<div class="ngdialog-message">
<div>
    <div>
    <div class="">
    <h3>Start Writing </h3>
    </div>
    <div class="">&nbsp;</div>
        <p class="text-center"><a type="button" class="btn btn-sm" style="border-style:solid; border-color:#8590C7; border-width:0.1em; background-color:#FCFCFC; color:#2E3F92; margin:0em 0.5em 0em 0.5em" ng-click="openWritingSpaceNotepad('Opinion')">Opinion</a><a type="button" class="btn btn-sm" style="border-style:solid; border-color:#8590C7; border-width:0.1em; background-color:#FCFCFC; color:#2E3F92; margin:0em 0.5em 0em 0.5em" ng-click="openWritingSpaceNotepad('Experience')">Experience</a></p>
        <p class="text-center"><a type="button" class="btn btn-sm" style="border-style:solid; border-color:#8590C7; border-width:0.1em; background-color:#FCFCFC; color:#2E3F92; margin:0em 0.5em 0em 0.5em" ng-click="openWritingSpaceNotepad('140')">140</a><a type="button" class="btn btn-sm" style="border-style:solid; border-color:#8590C7; border-width:0.1em; background-color:#FCFCFC; color:#2E3F92; margin:0em 0.5em 0em 0.5em" ng-click="openWritingSpaceNotepad('Musing')">Musing</a></p>
        <p class="text-center"><a type="button" class="btn btn-sm" style="border-style:solid; border-color:#8590C7; border-width:0.1em; background-color:#FCFCFC; color:#2E3F92; margin:0em 0.5em 0em 0.5em" ng-click="openWritingSpaceNotepad('Other')">Others</a></p>
    <div>
    </div>
    </div>
    <div></div>
</div>
</div>