<div class="ngdialog-message">
    <div>
        <div ng-controller="changeCitizenPasswordController">
            <div class="">
                <h3>Change your Password </h3>
            </div>
            <div class="">&nbsp;</div>
            
            <div class="">
                <form name="changePassswordForm" ng-submit="submitChangedPassword()" novalidate>                    <!--No HTML validation required(no validate)-->
                    <div class="form-group">
                        <div class="form-group" ng-class="{ 'has-error': changePassswordForm.curentPassword.$error.required && !changePassswordForm.curentPassword.$pristine }">
                            <label for="change_password_current_password">Current Password</label>
                            <input type="password" class="form-control input-sm" name="curentPassword" id="change_password_current_password" placeholder="Current Password" ng-model="passwords.oldPassword" required>
                            <span ng-show="changePassswordForm.curentPassword.$error.required && !changePassswordForm.curentPassword.$pristine" class="help-block"> Your Current Password is required. </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': changePasswordError }">
                        <span ng-show="changePasswordError" class="help-block"> Current Password incorrect. </span>
                    </div>
                    <div class="form-group">
                        <div class="form-group" ng-class="{ 'has-error': changePassswordForm.newPassword.$error.required && !changePassswordForm.newPassword.$pristine }">
                            <label for="change_password_new_password">New password</label>
                            <input type="password" class="form-control input-sm" name="newPassword" id="change_password_new_password" placeholder="Confirm Password" ng-model="passwords.newPassword" required>
                            <span ng-show="changePassswordForm.newPassword.$error.required && !changePassswordForm.newPassword.$pristine" class="help-block"> Your New password is required. </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group" ng-class="{ 'has-error': changePassswordForm.newPasswordConfirm.$error.required && !changePassswordForm.newPasswordConfirm.$pristine }">
                            <label for="change_password_new_password_confirm">Confirm New password</label>
                            <input type="password" class="form-control input-sm" name="newPasswordConfirm" id="change_password_new_password_confirm" placeholder="Confirm New Password" required>
                            <span ng-show="changePassswordForm.newPasswordConfirm.$error.required && !changePassswordForm.newPasswordConfirm.$pristine" class="help-block">Please confirm your new password. </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-sm" ng-disabled="changePassswordForm.$invalid">Submit</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog()>Cancel</button> &nbsp; &nbsp;
                    <h5 id="changePasswordMessage"></h5>
                </form>
            </div>
        </div>
    </div>
</div>