<div class="ngdialog-message">
    <div>
        <div>
            <div class="">
                <h3 class="text-center">User Manual </h3>
            </div>
            <div class="">&nbsp;</div>
                
            <div class="">
                <h3 style="color:#293882" class="text-center">Verification</h3>
                <div>
                    <p>- This is the most important part here. This is how we ensure that you and your information remains safe and no fake people get to you. But this is a mutual process, so you too have to verify yourself for others.</p>
                    <p>- Also, without verification, you would not be able to avail full benefits of this place.</p>
                    <p>- In order to get yourself verified, go to the drop-down button besides your profile picture in the navigation bar above, and click the 'verification' option.</p>
                    <p>- That would show you your current verification status. If it says, 'you are not verified' click the 'verify myself' button and follow the process.</p>
                    <p>- Right now, there is only one way to verify yourself</p>
                    <p>1. By uploading a photo of your Aadhar card, wherein your name and address is clearly visible. After uploading the photo, your verification process may take around '24 hours'.</p>
                </div>
                <h3 style="color:#293882" class="text-center">Profile Page</h3>
                <div>
                    <p>- This is your professional profile which people would be able to see. All your work here would be reflected in your profile.</p>
                    <p>- You can add or update a profile picture for your profile using 'Upload photo' option right below the current photo.</p>
                    <p>- 'Something About me' would be the first thing people would read about you. You can add/edit that by clicking ' <i class="fa fa-pencil-square-o" style="font-size:1.1em; color:#4858ac;" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Write"></i> ' symbol besides 'Something About me'. Make it interesting so that people are impressed.</p>
                    <p>- 'Works' section contains all the work(writings) you have done till date. It can be accessed by pressing 'Work' tab. In case you are checking somebody else's profile, you would see work done by them, in this section of their profile.</p>
                    <p>- 'Contact': In case you are visiting somebody else's profile and , say, you want to tell them how good did you find their work, you can drop them a message using this section. They could reach out to you using your emailid you provide.</p>
                </div>
                <h3 style="color:#293882" class="text-center">Writings</h3>
                <div>
                    <p>For posting a writing, you can click 'Start writing' on the right hand side(Observer's) of any page(except Profile). If you are on your profile, go to 'Works' and click ' <i class="fa fa-pencil-square-o" style="font-size:1.1em; color:#4858ac;" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Write"></i> ' symbol.</p>
                    <p>You can post 5 types of writings, Experience, Opinion, Musings, 140 and Others.</p>
                    <p>- <strong>Experience:</strong> If you are writing one of your experiences, say your experience during your bus journey today, an experience related to your life etc, then you can post that writing in this category.</p>
                    <p>- <strong>Opinion:</strong> If your writing's jist is expressing your opinion about something, say your opinion about treatment given to women in their workplace or society in general, or caste-based reservations or a politics and so on, then you can post your writing in this category.</p>
                    <p>- <strong>Musing:</strong> If you are just scribbling the random deep thoughts you have, post it here.</p>
                    <p>- <strong>140:</strong> Challenge yourself to write a thought in 140 characters, that is 1 byte.</p>
                    <p>- <strong>Other:</strong> If you think your writing doesn't fit in any of the above category, no worries, post it here.</p>
                    <p>Once you post your writing, it would appear in your profile's 'Works' section as well as in the 'Writing Space'</p>
                </div>
                <h3 style="color:#293882" class="text-center">Earnings</h3>
                <div>
                    <p>- You can earn money if you want by writing. However, you must be a verified citizen(user) of MyTownScripts in order to avail this service.</p>
                    <p>- <strong>How can I earn money ?</strong></p>
                    <p>- While posting every writing, you are asked to give us a URL(link) of a <strong>'Flipkart'</strong> product, which you think the readers of your post would be interested in purchasing. You are asked for a link only if you are verified.</p>
                    <p>- In order to do this, search a product on Flikart --> Go to that product's page --> Copy the URL(link) of that page from the URL bar of your browser --> paste that link where it is asked while posting your writing. This link would be activated within '24 hours'.</p>
                    <p>- Tip: The product can be anything like a smartphone, a book, clothing etc. Select a product that is relavant to your writing or your readers. For example, if you are writing an experience about depression, you can sell a book with motivational content. If you are writing an opinion about use of smart phones, you can select a new smart phone which your readers would be interested in and able to purchase.</p>
                    <p>- You get earned according to the number of clicks the 'product link' under your writing gets. If a reader makes a purchase of that product, and we find that he went to the product through your link and made the purchase in a single session, you get some commission for that purchase too, depending on what the product is.</p>
                    <p>-<strong> You must specify how would you like to receive your earnings. Currently, there are two ways in which you can receive your rewards. 1. UPI transfer. 2. Bank transfer.</strong></p>
                    <p>- You must update details of the same in the 'View Earnings' page. In the dropdown of navigation bar select, 'View Earnings'. On the 'Earnings' page, under Payment details, you can update the payment method you like, that is UPI or Bank transfer</p>
                    <p>- Your earnings would be updated on Sunday of every week, and you would receive your earnings on anyday after '30th'(month-end) of every month.</p>
                </div>
                <p style="font-size:1.1em;">For any queries, mail us at <strong style="font-size:1.15em;">support@mytownscripts.com</strong></p>
            </div>
            <div>    
                <button type="button" class="btn btn-default btn-xs col-xs-offset-5" ng-click=closeThisDialog()>Okay</button>
            </div>
        </div>
    </div>
</div>