<div class="" style="">
    <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em ; padding:1em 0.5em 0.5em 0em; margin-bottom:0.7em; color:#000;">
        <div class="row" style="">
            <div class="col-xs-offset-1 col-xs-3" style="">
                <img src="../../../images/dp1.jpg" class="img-circle" height="65em" width="60em">
            </div>
            <div class="col-xs-8 col-sm-8">
                <h3 style="margin-bottom:0em;margin-top:0.3em"><strong>{{username}}</strong></h3>        <!--Check Strong or not-->
                <h5 class="text-muted" style="margin-top:0.5em;">{{professions}}</h5>
            </div>
        </div>
    </div>
    <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; padding:0.5em 0.5em 0em 0.5em; margin:0em 0em 0.7em 0em; color:#000;">                                                       <!--Check the colors-->
        <div>
            <p class="text-center" style="font-size:1.7em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><strong>Messages</strong></p>
        </div>
        <hr style="margin-bottom:0em; margin-top:0em;">
        <div style="color:#293882;">
            <h4 class="text-center" style="font-size:1.4em;"><strong>Inbox</strong></h4>
        </div>
    </div>
</div>