<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6" ng-if="!showTownActivity">
                <div style="background-color:#FCFCFC;color:#000;padding:0.85em" >
                    <div>
                        <h3>{{message}}</h3>
                    </div>
                </div>
            </div>
            <div ng-if="showTownActivity">
                <div class="col-md-3 visible-md visible-lg visible-xl" style="padding: 0em 0em 0em 1.1em;">
                    <div class="" style="">
                        <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em ; padding:1em 0.5em 0.5em 0em; margin-bottom:0.7em; color:#000;">
                            <div class="row" style="">
                                <div class="col-xs-offset-1 col-xs-3" style="">
                                    <img ng-src={{profilePicture}} class="img-circle" height="65em" width="60em">
                                </div>
                                <div class="col-xs-8 col-sm-8">
                                    <h3 style="margin-bottom:0em;margin-top:0.3em"><strong>{{username}}</strong></h3>        <!--Check Strong or not-->
                                    <h5 class="text-muted" style="margin-top:0.5em;">{{professions}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div ng-controller="citizenController">
                        <div>
                            <div style="border-style:solid; border-color:#eee; border-width:0.08em;background-color:#fff; margin-bottom:0.7em;">
                                <div class="text-center" style="border-style:solid; border-color:#eee; border-width:0.08em ; margin:0.8em;color:#243172;">
                                    <div class="visible-md visible-lg visible-xl"><h3 class="text-center" style="padding:0em 0em 0em 0em; margin: 0.5em 0em 0.5em 0em;"><strong>MyTown</strong></h3></div>
                                    <div class="visible-xs visible-sm"><button type="button" class="btn" style="color:#fff; background-color:#3446a3; padding:0em 1em 0em 1em;" ng-click="toggleShowMobileMyTown()"><h3 class="text-center" style="padding:0em 0em 0em 0em; margin: 0.5em 0em 0.5em 0em;"><strong>MyTown</strong></h3></button></div>
                                </div>
                            </div>
                            <div ng-if="showMobileMyTown">
                                <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
                                    <div>
                                        <a ui-sref="app.town_chronicles"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>{{townName}} Chronicles</b></p></a>
                                    </div>
                                    <hr style="margin-bottom:0em; margin-top:0em;">
                                    <div>
                                        <a ui-sref="app.writing_space"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>Writing Space</b></p></a>
                                    </div>
                                </div>
                                <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
                                    <div>
                                        <a ui-sref="app.restaurant_list"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>Hotels</b></p></a>
                                    </div>
                                    <!--<hr style="margin-bottom:0em; margin-top:0em;">
                                    <div>
                                        <a href="http://rangasugandha.mytownscripts.com/" target="_blank"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>Institutions</b></p></a>
                                    </div>-->
                                </div>
                            </div>
                            <div ng-repeat="townActivity in townActivities track by $index">
                                <div>                                       <!-- ng-switch="townActivity"-->
                                    <div ng-if="townActivity.newsType">
                                        <div class="" style="background-color:#fff;margin-bottom:0.7em;" ng-if="townActivity.newsImage">
                                            <div style="border-style:solid; border-color:#eee; border-width:0.1em ; padding:0.5em">
                                                <div class="thumbnail">
                                                    <a ui-sref="app.news_individual({id: townActivity._id})">
                                                        <img ng-src={{townActivity.newsImage}} class="img-responsive" style="margin:auto;" alt="Photo for news">
                                                    </a>
                                                    <div class="caption">
                                                        <a ui-sref="app.news_individual({id: townActivity._id})" class="text-center"><p style="font-size:1.12em; color:#333;"><strong>{{townActivity.title}}</strong></p></a>
                                                        <h5 style="color:#1F2A61;font-size:0.8em; margin:0"><span style="color:#7e7e7e;">by</span> {{townActivity.authorID.authorName}}<span ng-if="(townActivity.newsType == 'MyTownScriptsCitizenReported')"> for <em>MyTownScripts</em></span></h5>
                                                    </div>
                                                </div>
                                                <p class="text-center">{{townActivity.shortDescription}}</p>
                                            
                                                <hr style="color:#7e7e7e; margin-top:1.5%; margin-bottom:1.5%;">
                                                <div class="row" style="color:#898f9c; font-size:95%">
                                                    <div class="col-xs-6 text-center"><i class="fa fa-check-circle" style="color:#3446a3" aria-hidden="true"></i><span style="color:#4b4f56; font-weight:600">&nbsp;{{townActivity.verifiers.verifyCount}}</span>&nbsp;Verifiers</div>
                                                    <div class="col-xs-6 text-center"><i class="fa fa-times" style="color:#922e3f" aria-hidden="true"></i><span style="color:#4b4f56; font-weight:600">&nbsp;{{townActivity.refuters.refuteCount}}</span>&nbsp;Refuters</div>
                                                </div>
                                                <hr style="margin-top:1%; margin-bottom:1%;">
                                                <div class="row">
                                                    <b>
                                                        <div class="col-xs-6 text-center">
                                                            <a type="button" class="btn btn-block" style="background-color:#fff; padding:0.1em; color:#4b4f56;" ng-if="!townActivity.verifiers.citizenVerifyStatus" ng-click="verifyNewsMain(townActivity._id)">
                                                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Verify
                                                            </a>
                                                            <a type="button" class="btn btn-block" style="color:#3446a3; background-color:#fff; padding:0.2em;" ng-if="townActivity.verifiers.citizenVerifyStatus" ng-click="unVerifyNewsMain(townActivity._id)">
                                                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Verify
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-6 text-center">
                                                            <a type="button" class="btn btn-block" style="color:#4b4f56; background-color:#fff; padding:0.1em;" ng-if="!townActivity.refuters.citizenRefuteStatus" ng-click="refuteNewsMain(townActivity._id)">
                                                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Refute
                                                            </a>
                                                            <a type="button" class="btn btn-block" style="color:#922e3f; background-color:#fff; padding:0.2em;" ng-if="townActivity.refuters.citizenRefuteStatus" ng-click="unRefuteNewsMain(townActivity._id)">
                                                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Refute
                                                            </a>
                                                        </div>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="background-color:#fff;margin-bottom:0.7em;" ng-if="!townActivity.newsImage">
                                            <div style="border-style:solid; border-color:#eee; border-width:0.1em ; padding:0.5em">
                                                <h5 style="font-family:'Droid Serif',serif; color:#e50000; margin-bottom:0.1em; font-size:1.2em"><strong>{{townActivity.context}}</strong></h5>
                                                <h3 style="margin-top:0.1em" class="text-center"><strong>{{townActivity.title}}</strong></h3>
                                                <h5 style="color:#1F2A61;font-size:0.8em; margin:0em 0em 0.4em 0em;"><span style="color:#7e7e7e;">by</span> Prathamesh Ranade<span ng-if="(townActivity.newsType == 'MyTownScriptsCitizenReported')"> for <em>MyTownScripts</em></span></h5>
                                                <a ui-sref="app.news_individual({id: townActivity._id})"><p style="color:#333;" class="text-center">{{townActivity.shortDescription}}</p></a>
                                                
                                                <hr style="color:#7e7e7e; margin-top:1.5%; margin-bottom:1.5%;">
                                                <div class="row" style="color:#898f9c; font-size:95%">
                                                    <div class="col-xs-6 text-center"><i class="fa fa-check-circle" style="color:#3446a3" aria-hidden="true"></i><span style="color:#4b4f56; font-weight:600">&nbsp;{{townActivity.verifiers.verifyCount}}</span>&nbsp;Verifiers</div>
                                                    <div class="col-xs-6 text-center"><i class="fa fa-times" style="color:#922e3f" aria-hidden="true"></i><span style="color:#4b4f56; font-weight:600">&nbsp;{{townActivity.refuters.refuteCount}}</span>&nbsp;Refuters</div>
                                                </div>
                                                <hr style="margin-top:1%; margin-bottom:1%;">
                                                <div class="row">
                                                    <b>
                                                        <div class="col-xs-6 text-center">
                                                            <a type="button" class="btn btn-block" style="background-color:#fff; padding:0.1em; color:#4b4f56;" ng-if="!townActivity.verifiers.citizenVerifyStatus" ng-click="verifyNewsMain(townActivity._id)">
                                                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Verify
                                                            </a>
                                                            <a type="button" class="btn btn-block" style="color:#3446a3; background-color:#fff; padding:0.2em;" ng-if="townActivity.verifiers.citizenVerifyStatus" ng-click="unVerifyNewsMain(townActivity._id)">
                                                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Verify
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-6 text-center">
                                                            <a type="button" class="btn btn-block" style="color:#4b4f56; background-color:#fff; padding:0.1em;" ng-if="!townActivity.refuters.citizenRefuteStatus" ng-click="refuteNewsMain(townActivity._id)">
                                                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Refute
                                                            </a>
                                                            <a type="button" class="btn btn-block" style="color:#922e3f; background-color:#fff; padding:0.2em;" ng-if="townActivity.refuters.citizenRefuteStatus" ng-click="unRefuteNewsMain(townActivity._id)">
                                                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Refute
                                                            </a>
                                                        </div>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="townActivity.writingType">
                                        <div style="background-color:#FCFCFC;color:#000;padding:0.85em; margin-bottom:0.7em;" ng-if="checkWriting(townActivity.writingType)">
                                            <div class="" style="background-color:;color:">
                                                <h3 class="text-center" style="padding:0em 1em 0em 1em; margin-bottom:1%; margin-top:2%;">{{townActivity.title}}</h3>
                                                <div style="color:#a8a8a8" class="text-center">
                                                    <h6><em style="padding-right:0.5em">by</em>
                                                        <!--ui-sref="app.profile"-->
                                                        <a style="color:#293882;"><img ng-src={{townActivity.authorID.authorProfilePicture}} height="25" width="25" class="img-circle">&nbsp;{{townActivity.authorID.authorName}}</a></h6>
                                                </div>
                                                <div class="thumbnail">
                                                    <p ng-if=townActivity.writingImage><img ng-src={{townActivity.writingImage}} class="img-responsive" style="margin:auto;" alt="Photo for writing"></p>
<!--                                                <hr style="margin-top:1.5%; margin-bottom:1em;">-->
                                                    <div class="caption">
                                                        <p style="font-size:1.2em; line-height:1.6em;" class="text-center">
                                                            {{townActivity.shortDescription}}
                                                        </p>
                                                        <p class="text-center"><a type="button" class="btn btn-sm" style="border-style:solid; border-color:#8590C7; border-width:0.1em; background-color:#FCFCFC; color:#2E3F92; margin:0em 0.5em 0em 0.5em" ui-sref="app.writing_space_opinion({id: townActivity._id, writingType: townActivity.writingType})">Read More</a></p>
                                                    </div>
                                                </div>
                                                <div><b>
                                                    <span style="color:#999999; font-size:1em" class="text-center">
                                                        <span style="padding-left:2em"><a type="button" ng-click="dislikeWritingMain(townActivity._id)" ng-if="townActivity.likes.userLikeStatus"><i class="fa fa-heart" aria-hidden="true" style="font-size:1.4em;color:#E50000;"></i></a><a type="button" ng-click="likeWritingMain(townActivity._id)" ng-if="!townActivity.likes.userLikeStatus"><i class="fa fa-heart-o" aria-hidden="true" style="font-size:1.4em;color:#3446a3"></i></a><span style="padding-left:0.25em;">{{townActivity.likes.likesCount}}</span></span>
                                                        <span style="padding-left:1.2em"><i class="fa fa-comment-o" aria-hidden="true" style="font-size:1.5em;"></i><span style="padding-left:0.4em;">{{townActivity.comments.commentsCount}}</span></span>
                                                        <!--<span style="padding-left:1.2em"><span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="font-size:1.2em"></span><span style="padding-left:0.4em;">5</span></span>-->
<!--                                                    <span style="padding-left:18em; color:#707DBE">Review</span>-->
                                                        <a type="button" ng-click="deleteWritingMain(townActivity._id)"><span ng-if="checkUser(townActivity.authorID.authorID)" style="padding-left:19em; color:#161616; font-size:1.1em"><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></span></a>
                                                    </span>
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="" style="background-color:#2c2c2c;color:#fff;padding:0.1em 0em 1em 0em; margin-bottom:0.7em;" ng-if="!checkWriting(townActivity.writingType)">
                                            <div>
                                                <h3 class="text-center" style="padding:0em 2em 0em 2.5em"><strong>{{townActivity.title}}</strong></h3>
                                                <h6 class="text-center" style="padding:0em 6em 0em 6em"><span style="color:#8590C7">{{townActivity.writingType}}</span> by <span style="color:#5c6ab5">{{townActivity.authorID.authorName}}</span></h6>
                                                <hr style="color:#7e7e7e; margin-bottom:1.5%;">
                                                <p class="text-center" style="padding:0em 3em 0em 3em; font-size:2em;" ng-bind-html="townActivity.article"></p>
                                                <hr style="color:#7e7e7e; margin-bottom:1.5%;">
                                                <div><strong>
                                                    <span style="color:#999999; font-size:1em" class="text-center">
                                                        <span style="padding-left:4.5em"><a type="button" ng-click="dislikeWritingMain(townActivity._id)" ng-if="townActivity.likes.userLikeStatus"><i class="fa fa-heart" aria-hidden="true" style="font-size:1.4em;color:#E50000;"></i></a><a type="button" ng-click="likeWritingMain(townActivity._id)" ng-if="!townActivity.likes.userLikeStatus"><i class="fa fa-heart-o" aria-hidden="true" style="font-size:1.4em;color:#3446a3"></i></a><span style="padding-left:0.25em;">{{townActivity.likes.likesCount}}</span></span>
                                            
                                                        <a style="color:#999999;" ui-sref="app.writing_space_opinion({id: townActivity._id, writingType: townActivity.writingType})"><span style="padding-left:1.2em"><i class="fa fa-comment-o" aria-hidden="true" style="font-size:1.5em;"></i><span style="padding-left:0.4em;">{{townActivity.comments.commentsCount}}</span></span></a>
                                                    
                                                        <a type="button" ng-click="deleteWritingMain(townActivity._id)"><span ng-if="checkUser(townActivity.authorID.authorID)" style="padding-left:19em; color:#707DBE; font-size:1.1em"><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></span></a>
                                                    </span>
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color:#FCFCFC;color:#000;padding:0.85em; margin-bottom:0.7em;" ng-if="noTownActivity">
                                <h5 style="font-size:2em" class="text-center">There doesn't seem to be any activity in your town.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 visible-md visible-lg visible-xl">
                    <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
                        <div>
                            <p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><strong>Town</strong></p>
                        </div>
                    </div>
                    <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
                        <div>
                            <a ui-sref="app.town_chronicles"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>{{townName}} Chronicles</b></p></a>
                        </div>
                        <hr style="margin-bottom:0em; margin-top:0em;">
                        <div>
                            <a ui-sref="app.writing_space"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>Writing Space</b></p></a>
                        </div>
                    </div>
                    <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
                        <div>
                            <a ui-sref="app.restaurant_list"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>Hotels</b></p></a>
                        </div>
                        <!--<hr style="margin-bottom:0em; margin-top:0em;">
                        <div>
                            <a href="http://rangasugandha.mytownscripts.com/" target="_blank"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><b>Institutions</b></p></a>
                        </div>-->
                    </div>
                    <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
                        <div>
                            <a ng-click="openTownActivityWritingCategorySelect()"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><i class="fa fa-pencil-square-o" style="font-size:1.1em;" aria-hidden="true"></i> Start Writing</p></a>
                        </div>
                        <hr style="margin-bottom:0em; margin-top:0em;">
                        <div>
                            <a ng-click="openTownActivityNewsReportInput()"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><i class="fa fa-pencil-square-o" style="font-size:1.1em;" aria-hidden="true"></i> Publish News</p></a>
                        </div>
                    </div>
                    <!--<div data-WRID="WRID-151523078301259185" data-widgetType="searchWidget" data-class="affiliateAdsByFlipkart" height="250" width="300" ></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>-->
                </div>
            </div>
        </div>
    </div>
</div>