<div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; margin-bottom:0.7em; color:#000; margin-left:0em;">
    <div>
        <p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;">Writing Club</p>
    </div>
    <hr style="margin-bottom:0em; margin-top:0em;">
    <!--<div>
        <p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;">Our News</p>
    </div>
    <hr style="margin-bottom:0em; margin-top:0em;">-->
    <div>
        <a ui-sref="app.writing_space_opinion_input"><p class="text-center" style="font-size:1.5em; color:#2e3f92; padding:0.5em 0em 0em 0em;"><i class="fa fa-pencil-square-o" style="font-size:1.1em;" aria-hidden="true"></i> Start Writing</p></a>
    </div>
</div>