<div style="margin-top:1em">
    <h2>Taking you into Town.</h2>
    <!--<form name="facebookLoginForm" ng-submit="doFacebookLogin()">
        <div class="row">
            <div ng-class="{ 'has-error': facebookLoginForm.facebookEmail.$error.required &&  !facebookLoginForm.facebookEmail.$pristine }">
                <input type="email" class="form-control" name="facebookEmail" placeholder="Email" ng-model="facebookLoginData.email" required>
                <span ng-show="facebookLoginForm.facebookEmail.$error.required && !facebookLoginForm.facebookEmail.$pristine" class="help-block"> Your Email is required. </span>
            </div>
            <div ng-class="{ 'has-error': facebookLoginForm.facebookLoginHometown.$error.required &&  !facebookLoginForm.facebookLoginHometown.$pristine }">
                <input type="text" class="form-control" name="facebookLoginHometown" placeholder="Hometown" ng-model="facebookLoginData.hometown" required>
                <span ng-show="facebookLoginForm.facebookLoginHometown.$error.required && !facebookLoginForm.facebookLoginHometown.$pristine" class="help-block"> Your Hometown is required. </span>
            </div>
            <div ng-class="{ 'has-error': facebookLoginForm.facebookLoginPincode.$error.required &&  !facebookLoginForm.facebookLoginPincode.$pristine }">
                <input type="number" class="form-control" name="facebookLoginPincode" placeholder="Pincode" ng-model="facebookLoginData.pincode" required>
                <span ng-show="facebookLoginForm.facebookLoginPincode.$error.required && !facebookLoginForm.facebookLoginPincode.$pristine" class="help-block"> Your Pincode is required. </span>
            </div>                
            <div ng-class="{ 'has-error': facebookLoginForm.facebookLoginBirthdate.$error.required && !facebookLoginForm.facebookLoginBirthdate.$pristine }">
                <input type="date" class="form-control" name="facebookLoginBirthdate" placeholder="Birthdate" ng-model="facebookLoginData.birthdate" required> <span style="font-size:1em;color:#b2b2b2">Birthday</span>
                <span ng-show="facebookLoginForm.facebookLoginBirthdate.$error.required && !facebookLoginForm.facebookLoginBirthdate.$pristine" class="help-block"> Your Birthdate is required. </span>
            </div>
        </div>
    </form>-->
</div>