<div class="container">
<!--<p style="padding:6em 0em 0em 0em"></p>-->
    <div style="background-color:#FCFCFC; border-style:solid; border-color:#eee; border-width:0.1em; color:#000; margin-left:0em;">
        <div class="row">
    <div class="text-center col-sm-offset-3 col-xs-12" style="margin:0em 0em 1em 0em;">
        <h2 style="font-size:4em;">Delivery Details</h2>
    </div>
</div>
        <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        
        <div style="background-color:#fff; border-style:solid; border-color:#eee; border-width:0.1em; padding:1em; color:#000;">
            <form ng-submit="submitDeliveryDetails()">
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-xs-3">
                        <label>Contact Number: </label>
                    </div>
                    <div class="col-xs-5">
                        <input type="number" class="form-control input-sm" placeholder="contact number" ng-model="contactInfo.contactNumber" min="1000000000" max="10000000000" required>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="contact_info">Delivery Address:</label>
                        <textarea class="form-control" id="contact_info" placeholder="Delivery Address" rows="3" ng-model="contactInfo.deliveryAddress" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-sm col-sm-offset-10" style="background-color:#4858ac; color:#fff">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
</div>