<div class="ngdialog-message">
    <div>
        <div>
            <div class="">
                <h3 class="text-center">Welcome ! </h3>
            </div>
            <div class="">&nbsp;</div>     
            <div class="">
                <h3 style="color:#293882" class="text-center">Hello ! We are happy to have you here. </h3>
                <h3 style="color:#293882" class="text-center" ng-show="!verificationStatus">You can always verify yourself later from the 'verification status' option in the dropdown of the navigation bar. </h3>
                <button type="button" class="btn btn-default btn-xs col-xs-offset-5" ng-click=closeThisDialog()>Okay</button>
            </div>
        </div>
    </div>
</div>