.navbar-inverse {
  background: #3446a3;                                                                                         /*e53935;*/
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {                                                          /*Setting on-click time color*/
  background: #293882;
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a {                                        /*Observed when no mouse focus(lg screen, freaction of second)*/
  background: #293882;
  color: #ffffff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color : #293882;
}

#nav_search_input_field{
    height: 100%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
    
}

.nav-pills > li > a {
    color: #2e3f92 ;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #4858ac ;
}
.nav-tabs, .nav-pills {
    text-align:center;
    font-size: 1.1em;
}

#newsFilter > li {
    width: 45%;
}
#profileFilter > li {
    width: 23%;
}
#writerProfileFilter > li {
    width: 32%;
}
#debateFilter >li {
    width: 30%;
}

#debateArgsHead > li {
    width: 32%;
    font-size: 1.4em;
}

#writingsFilter >li {
    width: 19%;
}

ul > li > a {
    color:#2E3F92;
}

.read-more-state {
  display: none;
}

.read-more-target {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-target {
  white-space: normal;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  color: #666;
  font-size: .7em;
  line-height: 1.25em;
  border: 1px solid #ddd;
  border-radius: .25em;
}
.debateClubBody{
	position: absolute;
	top: -1.25em;
	left: -1.25em;
	right: -2.5em;
	bottom: -2.5em;
	width: auto;
	height: auto;
	background-image: url(../images/library_debate_club.jpg);
	background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	z-index: 0;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
/*.form-control::-webkit-input-placeholder { color: #8590c7; }  /* WebKit, Blink, Edge */
/*.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
/*.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
/*.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
/*.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

@media all and (min-width:100px){
    body{
        font-size: 13px;
    }
    #writingsFilter >li {
        width: 31%;
    }
}
@media all and (min-width:500px){
    body{
        font-size: 13px;
    }
    #writingsFilter >li {
        width: 19%;
    }
}
@media all and (min-width:900px){
    body{
        font-size: 13px;
    }
}
@media all and (min-width:1285px){
    body{
        font-size: 14px;
    }
}
